@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* PADDING & MARGINS */
  --base-px-xs: 4px;
  --base-px-sm: 8px;
  --base-px-m: 24px;
  --base-px-lg: 48px;
  --base-px-xlg: 96px;

  /* COLOR SCHEME */
  --slate: #30393f;
  --dark-slate:#22282c;
  --green: #b1f4cf;
  --purple: #9890e3;
  --faint-green: #b1f4cf3d;
  --faint-purple: #9890e348;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  color: var(--slate);
}

h1 {
  padding: var(--base-px-lg) 0;
}

p {
  text-align: justify;
}

.container {
  width: 100%;
  padding: var(--base-px-xlg) calc(2.25*var(--base-px-xlg));
  justify-content: center;
  text-align: center;
}

/* Landing */
.landing {
  position: relative;
  background: linear-gradient(to top, var(--purple) 0%, var(--green) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: var(--base-px-xlg);
  z-index: 1000;
}

.headings {
  text-align: left;
  align-self: center;
}

.main-title {
  font-size: 4em;
}

#typewriter, .main-title {
  padding: var(--base-px-sm);
}

#typewriter {
  font-weight: 400;
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.b1, .b2 {
  position: absolute;
  width: 65vmax;
}

.b1 {
  top: -35%;
  right: -20%;
  fill: var(--faint-green);
}

.b2 {
  top: -75%;
  right: 0%;
  fill: var(--faint-purple);
}

/*About*/
.about h1{
  text-align: left;
  bottom: 0;
  width: 100%;
}

/* Contact */
.contact {
  background: linear-gradient(to top, var(--green) 0%, var(--purple) 100%);
  margin-top: var(--base-px-xlg);
}

.socials {
  padding: calc(var(--base-px-m)*1.5);
  display: flex;
  justify-content: space-evenly;
}

a i {
  color: var(--slate);
  font-size: calc(var(--base-px-m)*1.5);
}

a i:hover {
  color: var(--dark-slate);
}

/* Footer */
footer {
  background-color: var(--dark-slate);
  color: white;
  text-align: center;
  padding: var(--base-px-sm);
  font-size: 75%;
}